<div class="footer">
    <div class="bg-light text-center">
        <div class="flex-container" style="justify-content: center;">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-secondary btn-lg btn-block" (click)="logout()">Logout</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-secondary btn-lg btn-block" (click)="login()">Login</button>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright: Vuk Aleksijević
        </div>
    </div>
</div>